.header {
    top: 0;
    z-index: 10;
    
    &__wrap {
        max-width: 1366px;
    }

    &__logo-link {
        @include coords(50%, null, null, 50%);
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 1024px) {
        &__right-button {
            @include coords(50%, 0);
            transform: translateY(-50%);
        }
    }
}