.header {
    top: 0;
    z-index: 10;
    
    &__wrap {
        max-width: 1366px;
    }

    &__logo-link {
        @include coords(50%, auto, 0, 50%);
        transform: translate(-50%, -50%);
    }

    &__sidelink:hover {
        color: $black--light;
    }

    &__search-profile-photo {
        width: 35px;
    }

    &__search-input {
        border-radius: $radius--sm 0 0 $radius--sm;
    }

    &__search-submit {
        border-radius: 0 $radius--sm $radius--sm 0;
    }

    &__search-suggestions,
    &__loading-spinner {
        @include coords(91%, null, null, 0);
        border-radius: 0 0 $radius--sm $radius--sm;
    }

    &__search-suggestion:hover {
        background: $pale;
    }

}