.sidebar {
    width: $sidebar-width;

    &__wrap {
        width: $sidebar-width;
        height: 100vh;
        @include coords(0, null, null, 0);
    }

    &__navitem:not(.sidebar__active-link):hover > * {
        color: $black--light;
    }

    &__profile-photo {
        width: 30px;
    }

    &__active-link {
        color: $primary--dark;
    }

    &__notif-count {
        @include coords(3px, null, null, 7px);
    }

    @media screen and (max-width: 785px) {
        width: 51px;
        
        &__wrap {
            width: auto;
            z-index: 20;
        }

        &__nav {
            margin-top: 0;
        }

        &__navitem {
            padding-left: $space--sm;
            padding-right: $space--sm;
        }

        &__navitem-label {
            display: none;
        }
    }
}