.sidebar {
    width: 250px;

    &__wrap {
        left: 0;
        width: inherit;
        height: calc(100vw - 70px);
    }

    &__profile-photo {
        width: 30px;
    }

    &__active-link {
        color: $primary--dark;
    }

    &__notif-count {
        @include coords(3px, null, null, 7px);
        padding-left: 5px;
        padding-right: 5px;
    }
}