.users {
    &__main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: $space--md;
    }

    &__profile-photo {
        width: 55px;
    }

    &__follow-button {
        border-radius: 0 0 $radius--sm $radius--sm;
    }

    @media screen and (max-width: 650px) {
        &__main {
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        }
    }
}