// BACKGROUND COLORS
.bg--none {
	background: none;
}

.bg--primary {
	background: $primary;
}

.bg--primary-light {
	background: $primary--light;
}

.bg--primary-dark {
	background: $primary--dark;
}

.bg--primary-pale {
	background: $primary--pale;
}

.bg--success {
	background: $success;
}

.bg--success-light {
	background: $success--light;
}

.bg--success-dark {
	background: $success--dark;
}

.bg--danger {
	background: $danger;
}

.bg--danger-light {
	background: $danger--light;
}

.bg--danger-dark {
	background: $danger--dark;
}

.bg--white {
	background: $white;
}

.bg--black {
	background: $black;
}

.bg--black-light {
	background: $black--light;
}

.bg--gray {
	background: $gray;
}

.bg--gray-light {
	background: $gray--light;
}

.bg--bluish-white {
	background: $bluish-white;
}

.bg--pale {
	background: $pale;
}


// TEXT COLORS
.text--primary {
	color: $primary;
}

.text--primary-light {
	color: $primary--light;
}

.text--primary-dark {
	color: $primary--dark;
}

.text--success {
	color: $success;
}

.text--success-light {
	color: $success--light;
}

.text--success-dark {
	color: $success--dark;
}

.text--danger {
	color: $danger;
}

.text--danger-light {
	color: $danger--light;
}

.text--danger-dark {
	color: $danger--dark;
}

.text--white {
	color: $white;
}

.text--black {
	color: $black;
}

.text--black-light {
	color: $black--light;
}

.text--gray {
	color: $gray;
}

.text--gray-light {
	color: $gray--light;
}

.text--bluish-white {
	color: $bluish-white;
}

.text--pale {
	color: $pale;
}