// ALL SIDES
.pd--xxs {
	padding: $space--xxs;
}

.pd--xs {
	padding: $space--xs;
}

.pd--sm {
	padding: $space--sm;
}

.pd--md {
	padding: $space--md;
}

.pd--lg {
	padding: $space--lg;
}

.pd--xl {
	padding: $space--xl;
}


// TOP
.pd-t--xxs {
	padding-top: $space--xxs;
}

.pd-t--xs {
	padding-top: $space--xs;
}

.pd-t--sm {
	padding-top: $space--sm;
}

.pd-t--md {
	padding-top: $space--md;
}

.pd-t--lg {
	padding-top: $space--lg;
}

.pd-t--xl {
	padding-top: $space--xl;
}


// RIGHT
.pd-r--xxs {
	padding-right: $space--xxs;
}

.pd-r--xs {
	padding-right: $space--xs;
}

.pd-r--sm {
	padding-right: $space--sm;
}

.pd-r--md {
	padding-right: $space--md;
}

.pd-r--lg {
	padding-right: $space--lg;
}

.pd-r--xl {
	padding-right: $space--xl;
}


// BOTTOM
.pd-b--xxs {
	padding-bottom: $space--xxs;
}

.pd-b--xs {
	padding-bottom: $space--xs;
}

.pd-b--sm {
	padding-bottom: $space--sm;
}

.pd-b--md {
	padding-bottom: $space--md;
}

.pd-b--lg {
	padding-bottom: $space--lg;
}

.pd-b--xl {
	padding-bottom: $space--xl;
}


// LEFT
.pd-l--xxs {
	padding-left: $space--xxs;
}

.pd-l--xs {
	padding-left: $space--xs;
}

.pd-l--sm {
	padding-left: $space--sm;
}

.pd-l--md {
	padding-left: $space--md;
}

.pd-l--lg {
	padding-left: $space--lg;
}

.pd-l--xl {
	padding-left: $space--xl;
}