.home {
    max-width: 1366px;

    &__big-dot {
        @include size(5px);
    }

    &__comment-box {
        border-radius: 2rem;
        resize: none;

        &:disabled {
            background: $gray--light;
        }
    }

    &__modal {
        @include coords(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.8);
        z-index: 1000;
    }

    &__modal-main {
        max-width: 480px;
        margin-top: 7vw;
    }

    &__modal-head {
        border-radius: $radius--md $radius--md 0 0;
    }

    &__modal-body {
        line-height: 1.5;
    }
}

.timeline {
    &__post-input {
        width: 100%;
        resize: none;
        border-radius: $radius--md $radius--md 0 0;
    }

    &__post-submit {
        border-radius: 0 0 $radius--md $radius--md;
    }

    &__post-body {
        line-height: 1.5;
    }
}

.profile {
    &__follow-button {
        border-radius: 2rem;
    }

    &__active-tab {
        border-bottom: 3px solid $primary;
        font-weight: 700;
    }

    &__post-body {
        line-height: 1.5;
    }
}